.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

    .title {
        margin: 10px 0;
        text-align: center;
    }

    .sign-up-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
