//setting the keyframes for background color transitions
@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 1% 0%;
    }
}

.cart-icon {
    height: 100%;
    width: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    .shopping-icon {
        width: 24px;
        height: 24px;
    }

    .item-count {
        position: relative;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
    }
}

.cart-icon:hover {
    background-image: (linear-gradient(270deg, #fccc0a, white));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
}

.shopping-icon:hover {
}
