//setting the keyframes for background color transitions
@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 1% 0%;
    }
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 25px;
    background-color: black;
    border: 5px solid black;

    .welcome {
        padding: 10px 15px;
        color: white;
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;
    }

    .logo-container {
        height: 100%;
        width: 70px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        &:hover {
            background-image: (linear-gradient(270deg, #0039a6, white));
            background-size: 400% 400%;
            animation: TransitioningBackground 10s ease infinite;
        }
    }

    .options {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            color: white;
            font-size: 2rem;
            margin-right: 20px;

            &.sign-out {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 0.115rem;
                    text-decoration-color: #ff6319;
                }
            }
        }
    }
}
